@include media-md {
    .menu-btn {
        visibility: hidden;
    }
    .nav {
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        .menu-nav {
            border: none;
            display: block;
            transform: translateX(0);
            height: 100%;
            background: transparent !important;
            text-align: right;
            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
            &__link {
                font-size: 1.5rem;
            }
        }
    }
    .about {
        font-size: 1.5rem;
    }
    .projects {
        &__image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }
    .projects-modal {
        /* Modal Content */
        &__content {
            max-width: 60vw;
        }
        &__prev,
        &__next {
            top: 24vh;
        }
    }
    .contact__list {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 60px;
    }
}

@include media-lg {
    .projects__items {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 15px;
    }
    .projects-modal {
        /* Modal Content */
        &__prev,
        &__next {
            top: 36vh;
        }
    }
    .demo-container {
        &__column {
            max-width: 25%;
        }
    }
}

@include media-xl {
    .projects__items {
        padding-top: 30px;
    }
    .demo-container {
        &__column {
            max-width: 20%;
        }
    }
}