.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
    &__burger {
        position: absolute;
        right: 0.6rem;
        top: 0.9rem;
        width: 27px;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
        &::before {
            content: '';
            position: absolute;
            top: -7.5px;
            width: 27px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transition-ease;
        }
        &::after {
            content: '';
            position: absolute;
            top: 7.5px;
            width: 18px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transition-ease;
        }
        &.open {
            transform: rotate(360deg);
            background: transparent;
            &::before {
                width: 18px;
                transform: rotate(45deg) translate(0px, 3px);
            }
            &::after {
                width: 18px;
                transform: rotate(-45deg) translate(0px, -3px);
            }
        }
    }
}

.nav {
    background-color: $primary-color;
    border-left: 2px solid $accent-color;
    position: fixed;
    top: 0;
    right: 0;
    width: 45vw;
    opacity: 1;
    transform: translateX(calc(100% - 2px));
    @include transition-ease;
    &.open {
        visibility: visible;
        transform: translateX(0);
    }
    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;
        &.open {
            transform: translateY(0);
        }
        &__item {
            transform: translateX(100vw);
            @include transition-ease;
            &.open {
                transform: translateX(0);
            }
        }
        &.active>a {
            color: $accent-color;
        }
        &__link {
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 2rem 0;
            font-weight: 500;
            @include transition-ease;
            &:hover {
                color: $accent-color;
            }
        }
    }
}

@for $items from 1 through 4 {
    .menu-nav__item:nth-child(#{$items}) {
        transition-delay: ($items * 0.1s) + 0.15s;
    }
}